<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>...</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="main.js"></script>
</head>
<body>
    <div>
        <input id="username" placeholder="Username">
        <input id="password" placeholder="Password">
        <button onclick="regClicked();" id="registerBut">Register</button>
        <button onclick="loginClicked();" id="loginBut">Login</button>
        <p id="info"></p>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>

</html>